// <!------ PAGE FOOTER SECTION ------ >

.footer {
  background-color: var(--secondary-bgd-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-address {
  margin-right: 70px;
}

.logo-footer {
  margin-bottom: 20px;
}

.logo-studio-footer {
  color: var(--secondary-text-color);
}

.addess-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 9px;
}

.contacts-items {
  display: block;
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0;
  }
}

.contacts-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
